{% extends 'base.html' %}

<script>
  {% block jquery %}
  function updateUpvote(btn, newUpvoteCount, verb){
    btn.text(newUpvoteCount + " " + verb)
  }

    $(".upvote-btn").click(function(e){
      e.preventDefault()
      var this_ = $(this)
      var upvoteUrl = this_.attr("data-href")
      var upvoteCount = parseInt(this_.attr("data-upvotes"))
      var addUpvote = upvoteCount + 1
      var removeUpvote = upvoteCount - 1


      $.ajax({
        url: upvoteUrl,
        method: 'GET',
        data: {},
        success: function(data){
          console.log(data)
          var newUpvotes;
          if (data.upvotes){
            updateUpvote(this_, addUpvote, "Up")
          } else {
            updateUpvote(this_, removeUpvote, "Up")
          }
        }, error: function(error){
          console.log(error)
          console.log("error")
        }
      })
    })
  {% endblock %}
</script>

{% block content %}
<form method="get">{% csrf_token %}
  <input type="text" name="user">
  <button type="submit">search on twitch</button>
</form>

<h1>You're watching {{ streampost.author }}'s stream</h1>
<p>
  <div class="upvote-count">
    Upvotes
  </div>
  <a class='upvote-btn' data-href='{{ streampost.get_api_upvote_url }}'
                        data-upvotes='{{ streampost.upvotes.count }}'
                        href='{{ streampost.get_upvote_url }}'>
                        {{ streampost.upvotes.count }} Up</a>
  Downvotes {{ streampost.downvotes.count }}
</p>

<!-- Add a placeholder for the Twitch embed -->
<div id="SamplePlayerDivID"></div>

<!-- Load the Twitch embed script -->
<script src="https://embed.twitch.tv/embed/v1.js"></script>

<!-- Create a Twitch.Embed object that will render within the "twitch-embed" root element. -->
<script type="text/javascript">
var user = "{{streampost.author}}";
var embed = new Twitch.Embed("SamplePlayerDivID",{
    width: 854,
    height: 480,
    channel: user,
  });
embed.addEventListener(Twitch.Embed.VIDEO_READY, () => {
  var player = embed.getPlayer();
  player.play();
});
</script>
{% endblock %}
